body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #eee;
  transition: 2s all;
}
#paper{
  margin: 0 auto;
  background: #fff;
  padding:20px;
  box-shadow: 0 2px 3px #ccc;
  width: 800px;
}
#contents{
  width: 300px;
  position: fixed;
  min-height: 500px;
  padding: 10px;
  background: #ddd;
  color: #aaa;
  right: 5px;
}
#contents > h3{
  padding: 0;
  margin: 0;
}
#contents ul,li{
  list-style: none;
  padding: 2px;
  color: #999;
  font-weight: 600;
}

#contents button{
  padding: 0;
  border:0;
  cursor: pointer;
  color: #44f;
  padding: 3px;
}

#contents button:focus{
  outline: none;
}

#contents button:hover{
  background: #eee;
}
